<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizz&Duck</title>
    <link rel="stylesheet" href="/static/console/css/normalize.css">
    <link rel="stylesheet" href="/static/console/css/style.css">
    <link type="Image/x-icon" href="/static/console/img/logo.svg" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-logo flex">
            <a href="#"><img class="logo" src="/static/console/img/logo-image.png" alt="Логотип Pizz&Duck"></a>
            <a href="/manager" class="header-text">Pizz&Duck</a>
        </div>
    </header>

    <main class="main">
        <div class="container all-orders-container">
            <a href="/new_order">
                <button class="order-btn btn-reset">
                    <div class="new-order">
                        <div class="new-order-title-content flex">
                            <p class="new-order-title-content-style">Новые заказы</p>
                            <span class="new-order-content-style">{{ new_orders_count }}</span>
                            <svg class="order-link-tick" width="57" height="32" viewBox="0 0 57 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line x1="1.41421" y1="1.58579" x2="29.6985" y2="29.8701" stroke="black" stroke-width="4"></line>
                                <line x1="26.5858" y1="29.8701" x2="54.8701" y2="1.58582" stroke="black" stroke-width="4"></line>
                            </svg>
                        </div>
                    </div>
                </button>
            </a>
            {% for order in orders %}
            <a href="/all_orders/{{ order.order_id }}">
                <button class="btn-reset">
                    <div class="order">
                        <div class="order-title-content flex">
                            <p class="order-title-content-style">Заказ №{{ order.order_id }}</p>
                            {% if order.status == 'Ожидает' %}
                            <span class="order-content-style-wait">{{ order.status }}</span>
                            {% elif order.status == 'Готовится' %}
                            <span class="order-content-style-cook">{{ order.status }}</span>
                            {% elif order.status == 'Отменён' %}
                            <span class="order-content-style-cancel">{{ order.status }}</span>
                            {% elif order.status == 'Готов' %}
                            <span class="order-content-style-ready">{{ order.status }}</span>
                            {% endif %}
                            <svg class="order-link-tick" width="56" height="31" viewBox="0 0 56 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line x1="1.06066" y1="1.93934" x2="27.9307" y2="28.8094" stroke="white" stroke-width="3"></line>
                                <line x1="25.9393" y1="28.8095" x2="52.8094" y2="1.9394" stroke="white" stroke-width="3"></line>
                            </svg>
                        </div>
                    </div>
                </button>
            </a>
            {% endfor %}
            <div class="flex">
                <a href="/completed_orders" class="completed-orders-title">История выполненных заказов</a>
                <svg class="completed-orders-logo" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <a class="completed-orders-logo-link" href="/completed_orders">
                        <rect x="1.5" y="12.1557" width="47" height="36.3443" stroke="black" stroke-width="3"></rect>
                        <line y1="8.6557" x2="50" y2="8.6557" stroke="black" stroke-width="4"></line>
                        <rect x="8.71924" y="0.5" width="4.47945" height="9.65574" fill="#B9D6A3" stroke="black"></rect>
                        <rect x="37.4863" y="0.5" width="4.47945" height="9.65574" fill="#B9D6A3" stroke="black"></rect>
                        <line y1="-1" x2="8.42145" y2="-1" transform="matrix(0.731986 0.68132 -0.544944 0.838473 17.8081 31.1476)" stroke="black" stroke-width="2"></line>
                        <line y1="-1" x2="15.8518" y2="-1" transform="matrix(0.561709 -0.827335 0.716954 0.69712 23.9727 36.8853)" stroke="black" stroke-width="2"></line>
                    </a>
                </svg>
            </div>
        </div>
    </main>
</body>
</html>