<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizz&Duck</title>
    <link rel="stylesheet" href="/console/css/normalize.css">
    <link rel="stylesheet" href="/console/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body class="order-body">
    <header class="order-header">
        <div class="order-header-content flex">
            <div class="logo"></div>
            <a href="login.html" class="text-logo">Pizz&Duck</a>
        </div>
    </header>

    <main class="main">
        <div class="container order-content">
            <div class="flex">
                <h2 class="order-title">
                    Заказ №1
                </h2>
                <div class="status-order">
                    <span>Статус заказа</span>
                </div>
            </div>
            
            <div class="flex">
                <div>
                    <p class="order-info">
                        <span class="order-info-style">Повар:</span> ФИО и телефон
                    </p>
                    <p class="order-info">
                        <span class="order-info-style">Наименование товара:</span> Пицца
                    </p>
                    <p class="order-info indent">
                        <span class="order-info-style">Продукты:</span> тесто
                    </p>
                    <p class="order-info indent">
                        <span class="order-info-style">Комментарий к заказу:</span> без перца 
                    </p>
                    <p class="order-info">
                        <span class="order-info-style">Стоимость:</span> 1000р
                    </p>
                </div>
                <div class="order-info-column">
                    <p class="order-info">
                        <span class="order-info-style">Информация о доставке:</span> адрес, дата и время
                    </p>
                    <p class="order-info">
                        <span class="order-info-style">Курьер:</span> ФИО и телефон
                    </p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>