<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказ №{{ order.order_id }}</title>
    <link rel="stylesheet" href="/static/console/css/normalize.css">
    <link rel="stylesheet" href="/static/console/css/style.css">
    <link type="Image/x-icon" href="/static/console/img/logo.svg" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-logo flex">
            <a href="/courier_all_orders"><img class="logo" src="/static/console/img/logo-image.png" alt="Логотип Pizz&Duck"></a>
            <a href="/courier_all_orders" class="header-text">Pizz&Duck</a>
        </div>
    </header>

    <main class="main">
        <div class="container order-container">
            <h2 class="order-title">Заказ №{{ order.order_id }}</h2>
            <div class="order-content flex">
                <div class="order-content-left">
                    <p class="order-info">
                        <span class="order-info-style">Клиент:</span> {{ order.customer.name }}
                    </p>
                    <p class="order-info flex">
                       <span class="order-info-style">Список пицц:&nbsp;&nbsp;</span>
                        {% for pizza_name in pizzas %}
                            {% if pizzas_amounts[pizza_name] > 0 %}
                                "{{ pizza_name }}" - {{ pizzas_amounts[pizza_name] }} шт.<br>
                            {% endif %}
                        {% endfor %}
                    </p>
                    <p class="order-info">
                        <span class="order-info-style">Стоимость:</span> {{ order.total_price }}
                    </p>
                </div>
                <div class="order-content-right">
                    <p class="order-info">
                        <span class="order-info-style">Адрес:</span> {{ order.delivery_info.adress }}
                    </p>
                    <p class="order-info">
                        <span class="order-info-style">Комментарий:</span> {{ order.delivery_info.comments }}
                    </p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>