<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizz&Duck</title>
    <link rel="stylesheet" href="/static/console/css/normalize.css">
    <link rel="stylesheet" href="/static/console/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body class="order-body">
    <header class="header">
        <div class="header-logo flex">
            <a href="#"><img class="logo" src="/static/console/img/logo-image.png" alt="Логотип Pizz&Duck"></a>
            <a href="login.html" class="header-text">Pizz&Duck</a>
        </div>
    </header>

    <main class="main">
        <div class="login-container">
            <h2 class="login-title">Добро пожаловать!</h2>
            <div class="login-form">
                <input class="form-input" type="text" name="login" placeholder="логин" required>
                <input class="form-input" type="password" name="password" placeholder="пароль" required>
                <a href="manager.html"><button class="btn btn-reset login-btn">Войти</button></a>
            </div>
        </div>
    </main>
</body>
</html>